# Ajuste esses caminhos conforme sua máquina

ISAAC_SIM_PATH=/caminho/para/isaacsim
PEGASUS_PATH=/caminho/para/PegasusSimulator
PX4_PATH=/caminho/para/PX4-Autopilot
ROS_WS_PATH=./ros2_ws

# Opcional
ROS_DOMAIN_ID=0
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
